*.log
npm-debug.log*
yarn-error.log

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directories
/node_modules/

# project files
/example/
/src/
CHANGELOG.md
jest.config.js
webpack.config.babel.js
.travis.yml
.editorconfig
.eslintignore
.eslintrc
.babelrc
.gitignore

# npm package lock
package-lock.json
yarn.lock

# others
.git
.vscode
.DS_Store
.idea