/* I hate CSS */

.search_clear {
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 100;
}

.header_actions button {
  margin: 0px 0px 0px 5px;
}

.header_actions .badge {
  padding-top: 5px !important;
}

.table_style thead tr th {
  vertical-align: middle;
}

.table_style tbody tr td button.btn-link {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.table_style tbody tr td {
  vertical-align: middle;
}

.table_style tbody tr td span {
  line-height: 2rem;
}

.table_style tbody tr td .body-checkbox {
  margin: -6px 0px 0px 0px;
}

.table_style tbody tr td.action-col {
  text-align: center;
  position: relative;
  min-width: 100px;
}

.table_style tbody tr td.action-col span button {
  padding: 0px 5px 0px 5px;
}

.header-section {
  margin-bottom: 0px;
}

@media only screen and (max-width: 768px) {
  .header_actions {
    margin-top: 1rem;
  }
}
